body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 5px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 5px
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 150px
}